# Ignore large, not-yet-compressed output files
*.out

# Ignore files that are too large
/designs/coronaviridae/species/out/species.out.gz

# Temporary vim files
*.swp

# Ignore files that contain GISAID sequences so we do
# not distribute them (per GISAID policy)
/designs/coronaviridae/input-fastas/fastas-for-design
/designs/coronaviridae/input-fastas/in/GISAID_*
/designs/coronaviridae/sars/out/*.fasta
/designs/coronaviridae/species/out/*.fasta

# Custom environment
custom-env/
