*.fasta filter=lfs diff=lfs merge=lfs -text
*.fasta.gz filter=lfs diff=lfs merge=lfs -text
*.acc.txt filter=lfs diff=lfs merge=lfs -text
*.input-sequences.txt filter=lfs diff=lfs merge=lfs -text
design.out.gz filter=lfs diff=lfs merge=lfs -text
design.*.out.gz filter=lfs diff=lfs merge=lfs -text
